*{
  font-family: 'Helvetica', sans-serif;  
}

header {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;  
  width: 100%;  
}

h1 {  
  text-align: center; 
  font-size: 45px;
  color: rgba(50, 50, 50, 0.5); 
}

h2 {  
  text-align: center;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.7); 
  margin-top: 10px;  
}

h3 {
  font-size: 25px;
  font-weight: 200;
  color: white;
  text-rendering: optimizeLegibility;
  margin: 10px;  
}

h4 {
  font-size: 22px;
  font-weight: 500;
  color: whitesmoke;
  text-rendering: optimizeLegibility;
  margin: 15px;  
}

p,
ul,
ol {
  font-family: 'Helvetica';
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  margin: 0px;
  
}

.fondo-modulos {
  /* background-color: rgb(44, 54, 69); */
  background-image: url("./imagenes/background.jpg");
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  align-items: center;	
  width: 100%;
  height: auto;  
}

.modulos {
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  width: 30%;
}

.titulos-modulos {
  text-align: center;
  height: 50px;  	 
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;   
}

.imagen-modulo { 
  align-items: center;
  width: 100%;
}

.imagen-modulo img {
  border-radius: 10%;  
  align-items: center;  
  width: 250px;
  height: 250px;
  margin: 15px;  
}

.contenedor-ppal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* background-color: lightgray; */
  background-image: url("./imagenes/background.jpg");
   
}

.contenedor-ensayos {
  height: 300px;
  background-color: rgba(49, 65, 82, 0.589); 
  border-radius: 30px;  
  border-style: solid;
  border-color: gray;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;  
  margin-bottom: 30px; 
}

.imagen-ensayo {  
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.imagen-ensayo img {
  width: 100%;
  border-radius: 30px;border-style: solid;
  border-color: white;
  margin: 15px;
}

.descripcion-ensayo {
  width: 60%;
  height: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.contenedor-botones {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boton-ensayo {
  background-color: #0e6305;
  color: white;
  font-size: medium;
  border-radius: 20px;  
  text-align: center;
  border-color: white;  
  padding: 15px;
}

.boton-manual {
  background-color: #b60627;
  color: white;
  font-size: medium;
  border-radius: 20px;
  padding: 15px;;
  text-align: center;
  border-color: white;
}

.footer {
  background-color: white; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  width: 100%;
  height: 180px;
}

.footer > div {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div > img > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}





